<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <div align="center"><p>
	<a href="{{ path('smsapi') }}">SEND SMS</a>
	<a href="{{ path('getadmincontracy') }}">GET ADMIN CONTRACT</a>
    <a href="{{ path('getAdminStats') }}">GET ADMIN STATS</a>
    <a href="{{ path('getAdminPurchased') }}">GET ADMIB PURCHASEDS</a>

</p></div>{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
